body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

select, input[type="text"], input[type="file"] {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: auto;
    padding: 5px 10px;
    margin: 5px 0 5px 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 5px 0;
}